<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
	<title>{% block title %}{% endblock title %}</title>
	{% block head %}{% endblock head %}
	<style type="text/css">
		{% block style %}{% endblock style %}
	</style>
</head>
<body>
	<nav>
		<ul>
			<li>
				<a href="{% url "home" %}">Home</a>
			</li>
			<li>
				<a href="{% url "addition" 0 0 %}">Addition</a>
			</li>
			<li>
				<a href="{% url "date" %}">Date</a>
			</li>
			<li>
				<a href="{% url 'inscription_form' %}">S&#039;inscrire</a>
			</li>
		</ul>
	</nav>
	{% block body %}
	{% endblock body %}
</body>
</html>